  <div class="photo4">
    <div class="photo4__image">
      <%= image_tag "cafe4.webp", class: "photo4__image__el" %>
      <p class="photo4__image__ms">“Whether you think you can, or you think you can’t – You’re right.”</p>
      <p class="photo4__image__msn">Henry Ford</p>
    </div>
    <div class="content4">
      <% if user_signed_in? %>
        <ul class="content4__user">
          <li>
            <%= link_to "#{current_user.name}", "/users/#{current_user.id}", class: "content4__user__el" %>
            <%= link_to "sign-out", destroy_user_session_path, method: :delete, class: "content4__user__el" %>
          </li>
        </ul>
      <% else %>
        <ul class="content4__user">
          <li>
            <%= link_to "sign-in", new_user_session_path, class: "content4__user__el" %>
            <%= link_to "sign-up", new_user_registration_path, class: "content4__user__el" %>
          </li>
        </ul>
      <% end %>
      <div class="content4__c">
        <% @messages.each do |message| %>
          <div class="content4__c__el">
            <%= message.text %>
            <div class="content4__c__el__time">
              <%= message.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
            </div>
            <% if admin_signed_in?  %>
              <div class="content4__c__el__delete">
                <%= link_to 'delete', "/messages/#{message.id}", method: :delete, class: "content4__c__el__delete__d" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="content4__submit">
        <% if user_signed_in? || admin_signed_in?  %>
          <%= form_with(model: @message, local: true) do |f| %>
            <%= f.text_field :text, placeholder: "Message", size: "60", class: "content4__submit__form"%>
            <%= f.submit "SEND", class: "content4__submit__btn" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>