<div class="register2">
  <div class="register2__form">
    <p class="register2__form__title">Edit Study_tip</p>
    <%= form_with(model: @study_tip, local: true) do |f| %>
      <div class="register2__form__name">
        <%= f.text_field :title, placeholder: "Tittle", size: "50", class: "register2__form__name__label" %>
      </div>
      <div class="register2__form__detail">
        <%= f.text_area :detail, placeholder: "Detail", cols: "50", rows: "10", class: "register2__form__name__label" %>
      </div>
      <div class="register2__form__image">
        <%= f.file_field :image, placeholder: "Image", size: "50", class: "register2__form__image__label" %>
      </div>
      <div class="register2__form__submit">
        <%= f.submit "SEND", class: "register2__form__submit__label" %>
      </div>
    <% end %>
  </div>
</div>